var Template = function() { return `<?xml version="1.0" encoding="UTF-8" ?>
  <document>
    <stackTemplate>
      <banner>
        <title>Dribbble Popular Shots</title>
      </banner>
      <collectionList>
        <% @shot_shelfs.each do |shots| %>
          <shelf>
            <section>
                <% shots.each do |shot| %>
                <lockup template="${this.BASEURL}shots/<%= shot["id"] %>">
                  <img src="<%= shot["image_url"] %>" height="200" width="200"/>
                  <title><%= shot["title"] %></title>
                </lockup>
              <% end %>
            </section>
          </shelf>
        <% end %>
      </collectionList>
    </stackTemplate>
  </document>`
}
