var Template = function() { return `<?xml version="1.0" encoding="UTF-8" ?>
  <document>
    <oneupTemplate mode="oneup caption" allowsZooming="false">
      <section>
        <lockup>
          <img src="<%= @shot["image_url"] %>" />
          <title><%= @shot["title"] %></title>
          <row>
            <subtitle><%= @shot["player"]["name"] %></subtitle>
          </row>
        </lockup>
      </section>
    </oneupTemplate>
  </document>`
}
