var Template = function() { return `<?xml version="1.0" encoding="UTF-8" ?>
  <document>
    <oneupTemplate mode="oneup caption" allowsZooming="true">
      <section>
        <lockup>
          <img src="path to images on your server/Car_Movie_1920x1080.png" />
          <title>WWDC Roadtrip</title>
          <row>
            <subtitle>San Francisco</subtitle>
            <subtitle>June 8, 2015</subtitle>
          </row>
        </lockup>
      </section>
    </oneupTemplate>
  </document>`
}
